body{
    background-color: white;
}
#heart{
    position: absolute;
    left: 35rem;
    top: 40px;
    
    
    
  
}
#square{
    display: inline-flex;
    width: 305px;
    height: 305px;
    background-color: red;
    border-top-left-radius: 20px;
    margin-top: 150px;
    margin-left: 1.5rem;
    transform: rotate(42deg);
}

#circle1{
    display: inline-flex;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 120px;
    top: 55px;
    border-radius: 50%;
    background-color: red;

}
#circle2{
    display: inline-flex;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60px;
    right: 110px;
    border-radius: 50%;
    background-color: red;

}
#broken_pic{
    position: absolute;
    top: 74px;
    border-top-right-radius: 560px;
    left: 80px;
    
}
